@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-roboto);
  --font-praise: var(--font-praise);
  --font-roboto: var(--font-roboto);
}

body {
  background: #ffffff;
  color: #4F4F4F;
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}

.font-praise {
  font-family: var(--font-praise), cursive;
}

.font-playfair {
  font-family: var(--font-playfair), Georgia, serif;
}
